@font-face {
  font-family: orator;
  src: url(Orator-Std.otf);
}

body {
  margin: 0 20px;
  padding-bottom:60px;
  background-color:rgb(1, 19, 92);
  font-family: orator;
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  color:hotpink;
}

main, .container {
  /* background-color: antiquewhite; */
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap:10px;
  width: 100%;
}

.container img {
  margin: 0 auto;
  padding: 20px 0;

}

h1 {
  font-size: 20px;
  color: #ffffff;
  margin: 40px 0 0 40px;
}
.p5Canvas {
  margin: 0 auto;
}

[id^="defaultCanvas"] {
  padding: 20px 0;
  /* background-color: blue; */
}

#defaultCanvas0 {
  display: none;
}

footer p {
  color:white;
  text-align: right;
  margin-left:auto;
  margin-right:40px;
}
