@font-face {
  font-family: orator;
  src: url(Orator-Std.otf);
}

body {
  margin: 0 20px;
  padding: 0;
}

main {
  background-color: antiquewhite;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap:10px;
  width: 100%;
}

h1 {
  font-family: orator;
  font-size: 20px;
  color: deeppink;
}
.p5Canvas {
  margin: 0 auto;
}

[id^="defaultCanvas"] {
  padding: 20px 0;
  /* background-color: blue; */
}

#defaultCanvas0 {
  display: none;
}

